.App{
  margin: 0 2vh 0;
  font-family: Arial, Helvetica, sans-serif;
}

.App-header-name {
  margin-left: 25px;
}
.color-red{
  color: #ff0000;
}
svg:hover {
  fill: #ff0000;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(8px + 2vmin);
  box-shadow: 0 2px rgba(0, 0, 0, 0.1);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
